@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-cyan: #0e8784;
	--dark-grey-blue: #333d4b;
	--pale-orange: #fdd6ba;
	--light-cream: #fefcf7;
	--grey: #83888f;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background-color: var(--light-cream);
	color: var(--dark-grey-blue);
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}

.container {
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
}

h1 {
	color: var(--dark-grey-blue);
	font-family: 'Fraunces', serif;
	font-size: 72px;
	font-style: normal;
	font-weight: 900;
	line-height: 72px;
}

h2 {
	color: var(--dark-grey-blue);
	font-family: 'Fraunces', serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 900;
	line-height: 48px;
}

h3 {
	color: var(--dark-grey-blue);
	font-family: 'Fraunces', serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 900;
	line-height: 36px;
}

h4 {
	color: var(--dark-grey-blue);
	font-family: 'Fraunces', serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 32px;
}

p {
	color: var(--dark-grey-blue);
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}

.navbar {
	width: 100%;
	height: 113px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.navbar-logo img {
	width: 236px;
	height: 26px;
}

.navbar-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 33px;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	color: var(--grey);
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0.923px;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-links li a:hover {
	color: var(--dark-grey-blue);
}

.header {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-image: url(assets/home/desktop/image-hero-coffeepress.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}

.header-content {
	width: 493px;
	height: 367px;
	margin-left: 86px;
}

.header-content h1 {
	color: var(--light-cream);
	margin-bottom: 32px;
}

.header-content p {
	width: 393px;
	color: var(--light-cream);
	opacity: 0.8;
	font-weight: 400;
	margin-bottom: 56px;
}

.header-content a {
	width: 217px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-cyan);
	border-radius: 6px;
	color: var(--light-cream);
	text-align: center;
	font-family: 'Fraunces', serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	line-height: 25px;
	text-decoration: none;
}

.header-content a:hover {
	background-color: #66d2cf;
}

.our-collection {
	width: 1111px;
	margin: 0 auto;
	height: 196px;
	margin-top: 136px;
}

.collection-title h1 {
	color: var(--grey);
	font-size: 150px;
	text-align: center;
	text-transform: lowercase;
	padding-top: 86px;
}

.title-mask {
	position: absolute;
	width: 1111px;
	height: 196px;
	background: linear-gradient(180deg, rgba(254, 252, 247, 0) 0%, #fefcf7 100%);
	background-blend-mode: color;
}
